@charset "utf-8";
/* 
	Author: Nikolas Harris
	Date: September 29, 2013
	
	CSS for view ports greater than 650px wide. Defines the rules for desktops and tablets

*/

/* CSS reset of all default positioning */
* {
   margin: 0px;
   padding: 0px;
}

html {
	background-color: white;
}
a {
	text-decoration: none; /*Eliminate all underlines on anchors in the page*/
}
body {
	border-left: 1px solid black;
	border-right: 1px solid black;
    font-family: "Courier New";
	width: 75%; /* Center the whole page in the middle 50% of the view port. */
	margin: 0 auto;
    font-size: 20px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}
header { 
    text-align: center;
}
header h1 {
    color: black;
    text-shadow: 2px 3px #FF7300;
    font-size: 2em;
    font-weight: thicker;
	font-family: monospace;
}
header h2 {
    font-size: 0.75em;
	font-family: monospace;
	margin: 0.5em;
    font-weight: lighter;
}
nav {
    font-size: 0.75em;
    margin: 1em auto;
    font-family: monospace;	
}
nav ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}
nav li {
    width: 5.5em;
    margin-right: 1em;
    margin-left: 1em;
    float: left;
	background-image: linear-gradient(bottom, rgb(240,107,19) 8%, rgb(255,140,0) 54%, rgb(255,153,0) 77%);
    background-image: -o-linear-gradient(bottom, rgb(240,107,19) 8%, rgb(255,140,0) 54%, rgb(255,153,0) 77%);
    background-image: -moz-linear-gradient(bottom, rgb(240,107,19) 8%, rgb(255,140,0) 54%, rgb(255,153,0) 77%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,107,19) 8%, rgb(255,140,0) 54%, rgb(255,153,0) 77%);
    background-image: -ms-linear-gradient(bottom, rgb(240,107,19) 8%, rgb(255,140,0) 54%, rgb(255,153,0) 77%);
	-webkit-box-shadow: 0px 5px 5px 2px #2E2E2E;
    box-shadow: 0px 5px 5px 2px #2E2E2E;
}

nav a{
	color: black;
	display: block;
    padding: 0.25em;
}
nav a:hover {
	color: black;
	background-color: white;
}
nav a:active {
    color: black;
	background-color: gray;
}
footer {
	font-size: 0.5em;
	text-align: center;
}
article {
	width: 75%;
	margin: 0 auto;
    font-size: 0.8em;
	line-height: 1.4;
    clear: left;
}
article p { 
	margin: 0.5em;
    text-indent: 1em;
}
article h1,h2,h3,h4,h5 {
	margin: 1em;
    text-align: center;
}
article ul {
	text-align: center;
}
footer p {
}
form {
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	width: 500px;
}
label { 
	display: block;
}
input {
	margin: 0 auto;
	display: block;
}
article h1 {
	clear: left;
}

/* Slider CSS */
#slider {
	margin-top: 2em;
}
#slide a {
	display: block;
	width: 100%;
	height: 100%;
}
#prev, #next {
	font-family: Arial;
	margin: 0.25em auto;
	width: 5em; 
	background-color: grey;
	border:1px solid black; 
}
#slide {
	border:1px solid black;
	clear: right;
	margin: 0 auto;
	background: url('images/githublink.jpg');
	height: 250px;
	width: 300px;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	-webkit-box-shadow: 0px 5px 5px 2px #2E2E2E;
    box-shadow: 0px 5px 5px 2px #2E2E2E;
}


