@charset "utf-8";
/* 
	Author: Nikolas Harris
	Date: October 26, 2013
	
	Jquery Mobile CSS Overrides.
*/

#cwrapper {
	text-align: center;
}

span  img{
	width: 100%;
}

/* Slider CSS */
#slide a {
	display: block;
	height: 250px;
	width: 300px;
}

#slide {
	background: url('images/githublink.jpg');
	height: 250px;
	width: 300px;
	background-repeat: no-repeat;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	margin: 0 auto;
	
}



